/*============COLOR SCHEME===================
terra cotta #E07A5F,
Slate blue #3D405B,
*/

/****************SITE WIDE******************/
* {
    font-family: "Josefin sans", sans-serif;
    box-sizing: border-box;
}

/***************HEADER*********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ddd;
    column-gap: 8px;
}
header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.5rem;
    color: #3D405B;
}

/**************HUMBERGURG*****************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    color: #3D405B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}