/********************* GLOBAL BASE STYLES *********************/
:root {
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --primary-color: #E07A5F;
    /* terra cotta */
    --secondary-color: #ddd;
    --text-color: #3D405B;
    /* slate blue */
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: var(--body-font);
    margin: 0;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

/********************* LARGE VIEW (DESKTOP) *********************/
@media (min-width: 701px) {

    /* Header & Nav */
    header {
        display: grid;
        grid-template-columns: 40px auto auto;
        align-items: end;
        padding: 20px 0 10px 10px;
        border-bottom: 1.5px solid #bbb;
        border-top: 10px solid var(--primary-color);
        column-gap: 12px;
        background-color: var(--secondary-color);
    }

    header img {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 4px;
    }

    header span {
        font-size: 1.5rem;
        color: var(--text-color);
        white-space: nowrap;
    }

    .navigation {
        justify-self: end;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
    }

    nav a {
        color: var(--text-color);
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: var(--primary-color);
        color: white;
    }

    nav ul li.active a {
        color: black;
        font-weight: bold;
    }

    /* Hide hamburger on large view */
    .hamburger {
        display: none;
    }

    /************** FOOTER ***************/
    footer {
        background-color: var(--secondary-color);
        color: var(--text-color);
        padding: 1rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        align-items: start;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-right {
        font-size: 0.9rem;
    }

    /************ SOCIAL MEDIA ***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin: 25px 0;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #ccc;
        border-radius: 22px;
        transition: background-color 0.3s;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: #ddd;
    }
}

/********************* MOBILE VIEW *********************/
@media (max-width: 700px) {

    header {
        position: relative;
        display: grid;
        grid-template-columns: 40px auto 40px;
        align-items: center;
        padding: 15px 10px;
        border-bottom: 1.5px solid #bbb;
        border-top: 10px solid var(--primary-color);
        background-color: var(--secondary-color);
        column-gap: 8px;
    }

    header img {
        display: block;
        width: 100%;
        height: auto;
    }

    header span {
        font-size: 1.4rem;
        color: var(--text-color);
        text-align: center;
    }

    /************** HAMBURGER ***************/
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--text-color);
        font-size: 1.8rem;
        justify-self: end;
    }

    .hamburger::before {
        content: "\2630";
        /* ≡ */
    }

    .hamburger.show::before {
        content: "\00D7";
        /* × */
    }

    /************** NAVIGATION ***************/
    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #555;
    }

    .navigation a {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        color: #eee;
        padding: 0.8rem 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
    }

    .navigation a:hover {
        background-color: var(--primary-color);
    }

    .navigation li.current {
        background-color: #eee;
    }

    /************** FOOTER (STACKED) ***************/
    footer {
        background-color: var(--secondary-color);
        color: var(--text-color);
        padding: 1rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1rem;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        align-items: center;
    }

    .footer-center .social-links {
        justify-content: center;
    }

    /************ SOCIAL MEDIA ***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin: 25px 0;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #ccc;
        border-radius: 22px;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: #ddd;
    }
}