/********************* GLOBAL BASE STYLES *********************/
:root {
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --primary-color: #E07A5F;
    --secondary-color: #ddd;
    --text-color: #3D405B;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


@media (max-width: 700px) {

    body {
        font-family: var(--body-font);
        margin: 0;
        color: var(--text-color);
    }

    h1, h2 {
        margin: 10px 0 10px 10px;
    }

    h1,
    h2,
    h3,
    header span {
        font-weight: 500;
        font-family: var(--heading-font);
    }

    /***************HEADER*********************/
    .header-container {
        display: grid;
        grid-template-columns: 24px auto 44px;
        padding: 20px 0 5px 10px;
        column-gap: 10px;
    }

    header {
        position: relative;
        border-bottom: 5px solid #bbb;
        background-color: var(--text-color);
    }


    header img {
        display: block;
        width: 100%;
        height: auto;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        height: 30px;
        width: 30px;
    }

    header span,
    h1, h2 {
        font-size: 1.2rem;
    }

    header span {
        color: whitesmoke;
    }

    /**************HUMBERGURG*****************/
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 1.5rem;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-size: 1.5rem;
    }

    /**********NAVIGATION MOBILE VIEW***********/
    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #999;
    }

    .navigation a {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid var(--secondary-color);
        color: whitesmoke;
        padding: .8rem 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
    }

    .navigation a:hover {
        background-color: var(--primary-color);
    }

    nav ul li {
        border-bottom: solid 1px #333;
    }

    nav ul li.active a {
        background-color: #555;
    }

    /***************MAIN***********************/
    .cards {
        display: block;
        margin-bottom: 2rem;
    }

    .card {
        transform: translateY(20px);
        transition: all 0.9s ease;
        background: #eee;
        border: 1px solid var(--secondary-color);
        padding: .1rem 1rem 1rem;
        border-radius: 0 30px 0 30px;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem .7rem;
        font-size: .9rem;
        animation: slideFadeIn 0.9s ease forwards;
    }

    /* Animation keyframes */
    @keyframes slideFadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .cards button {
        text-decoration: none;
        background-color: var(--text-color);
        color: white;
        padding: .5rem;
        border: 1px solid #aaa;
        border-radius: 7px;
    }

    .cards button:hover {
        background-color: var(--primary-color);
    }

    /*********DIALOG*************/
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
    
    /*********ADVANCED FORM STYLES************/
    form {
        margin: 1rem 3%;
    }

    label {
        display: block;
        font-size: .8rem;
        color: purple;
        padding-top: .2rem;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select, form textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: var(--text-color);
        width: 250px;
    }

    input:required {
        border-left-color: var(--primary-color);
    }

    input:focus {
        border-left-color: black;
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--text-color);
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1rem;
        -webkit-appearance: none;
        appearance: none;
    }
    
    input[type=submit]:hover {
        background-color: var(--primary-color);
    }
        
    input:-webkit-autofill {
        -webkit-text-fill-color: var(--text-color);
    }

    /**************FOOTER***************/
    footer {
        background-color: var(--text-color);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        border-top: 5px solid #bbb;
        color: whitesmoke;
        padding: .5rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        align-items: center;
    }

    .footer-center .social-links {
        justify-content: center;
    }

    #lastModified {
        color: var(--primary-color);
        font-weight: bold;
    }

    .footer-container h3 {
        font-weight: bold;
    }

    footer h3,
    p {
        font-size: .8rem;
        font-weight: 300;
    }

    /************SOCIAL MEDIA***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin-top: 25PX;
        margin-bottom: 25PX;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid whitesmoke;
        border-radius: 22px;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: var(--primary-color);
    }
}