@media (min-width: 701px) {

    :root {
        --heading-font: "Roboto", sans-serif;
        --body-font: "Roboto", sans-serif;
        --primary-color: #E07A5F;
        --secondary-color: #ddd;
        --text-color: #3D405B;
    }

    * {
        box-sizing: border-box;
    }

    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        font-family: var(--body-font);
        margin: 0 auto;
        color: var(--text-color);
    }

    h1,
    h2,
    h3,
    header span {
        font-weight: 700;
        font-family: var(--heading-font);
    }

    h1 {
        margin: 20px 0 15px 0;
    }

    /***************HEADER*********************/
    .header-container {
        display: grid;
        grid-template-columns: 40px 1fr 10px auto;
        gap: .5rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        align-items: start;
    }

    header {
        align-items: center;
        padding: 30px 20px 10px;
        border-bottom: 5px solid #bbb;
        background-color: var(--text-color);
    }

    header span,
    h1 {
        flex: 1;
        min-width: 150px;
        word-wrap: break-word;
        text-align: start;
        font-size: 1.5rem;
    }

    header span {
        color: whitesmoke;
    }

    .navigation {
        margin-bottom: -15px;
    }

    header img {
        display: block;
        width: 100%;
        height: auto;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        height: 30px;
        width: 30px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
    }

    nav a:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    nav a {
        color: whitesmoke;
        text-decoration: none;
    }

    nav ul li.active a {
        color: var(--primary-color);
        font-weight: bold;
    }

    nav ul li.active a:hover {
        color: var(--secondary-color);
    }

    .navigation ul {
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        border: none;
        padding: 0.5rem 1rem;
        background: none;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        font-weight: bold;
    }

    #nav-button {
        display: none;
    }

    /*******************MAIN********************/
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
                
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1 1 300px;
    }

    /* Card animation */
    .card {
        transform: translateY(20px);
        transition: all 0.9s ease;
        background: #eee;
        border: 1px solid var(--secondary-color);
        padding: .1rem 1rem 1rem;
        border-radius: 0 30px 0 30px;
        color: var(--text-color);
        margin-top: -15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slideFadeIn 0.9s ease forwards;
    }

    /* Animation keyframes */
    @keyframes slideFadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .cards button {
        text-decoration: none;
        background-color: var(--text-color);
        color: white;
        padding: .5rem;
        border: 1px solid #aaa;
        border-radius: 7px;
    }

    .cards button:hover {
        background-color: var(--primary-color);
    }

    /*******Dialog Box**************/    
    .dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 1.5rem;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        z-index: 999999;
    }
    
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    /*********ADVANCED FORM STYLES************/
    form {
        margin: 1rem 2%;
    }
        
    label {
        display: block;
        font-size: .8rem;
        color: purple;
        padding-top: .2rem;
    }

    form h3 {
        font-size: .9rem;
        color: var(--primary-color);
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select, form textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: var(--text-color);
        width: 250px;
    }

    input:required {
        border-left-color: var(--primary-color);
    }

    input:focus {
        border-left-color: black;
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--text-color);
        color: white;
        border-radius: .5rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1rem;
        -webkit-appearance: none;
        appearance: none;
    }

    input[type=submit]:hover {
        background-color: var(--primary-color);
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: var(--text-color);
    }

    /**************FOOTER***************/
    footer {
        background-color: var(--text-color);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        border-top: 5px solid #bbb;
        color: whitesmoke;
        padding: .5rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        align-items: start;
    }

    #lastModified {
        color: var(--primary-color);
        font-weight: bold;
    }

    .footer-container h3 {
        font-weight: bold;
    }

    /************SOCIAL MEDIA***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin-top: 25PX;
        margin-bottom: 25PX;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid whitesmoke;
        border-radius: 22px;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: var(--primary-color);
    }
}