/********************* GLOBAL BASE STYLES *********************/
:root {
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --primary-color: #E07A5F;
    /* terra cotta */
    --secondary-color: #ddd;
    --text-color: #3D405B;
    /* slate blue */
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: var(--body-font);
    margin: 0;
    color: var(--text-color);
}

@media (max-width: 700px) {

    body {
        font-family: var(--body-font);
        margin: 0;
        color: var(--text-color);
    }

    /* Directory Layout */
    .view-toggle {
        display: flex;
        justify-content: center;
        margin: 1rem;
        gap: 1rem;
    }

    #memberContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        max-width: 1200px;
        margin: 0 auto;
        gap: 1rem;
        padding: 1rem;
    }

    #memberContainer.list-view {
        display: block;
    }

    .member-card {
        background: #f6f5f5;
        border-radius: 8px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.238);
        text-align: center;
        margin-bottom: 10px;
    }

    .member-card img {
        width: 250px;
        height: 250px;
        object-fit: contain
    }

                        .member-card h3 {
                            margin-top: -15px;
                        }
            
                        .member-card p a {
                            padding: 0;
                            margin: 0;
                        }

    /**************FOOTER***************/
    footer {
        background-color: var(--secondary-color);
        border-bottom: 10px solid var(--primary-color);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        border-top: 5px solid #bbb;
        color: #3D405B;
        padding: .5rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        align-items: center;
    }

    .footer-center .social-links {
        justify-content: center;
    }

    #lastModified {
        color: var(--primary-color);
        font-weight: bold;
    }

    /************SOCIAL MEDIA***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin-top: 35PX;
        margin-bottom: 35PX;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #8a8ca5;
        border-radius: 22px;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: #eee;
    }

    /***************HEADER*********************/
    
    header {
        position: relative;
        display: grid;
        grid-template-columns: 24px auto 44px;
        align-items: end;
        padding: 20px 0 5px 10px;
        border-bottom: 3px solid #bbb;
        border-top: 10px solid var(--primary-color);
        column-gap: 10px;
        background-color: var(--secondary-color);
    }

    header img {
        display: block;
        width: 100%;
        height: auto;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        height: 30px;
        width: 30px;
    }

    header span {
        font-size: 1.5rem;
        color: #3D405B;
        font-weight: 700;
        font-family: var(--heading-font);
    }

    /**************HUMBERGURG*****************/
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        color: #3D405B;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 1.5rem;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-size: 1.5rem;
    }

    /*************NAVIGATION******************/


    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #555;
    }

    .navigation a {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        color: #eee;
        padding: .8rem 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
    }

    .navigation li.current {
        background-color: #eee;
    }

    .navigation a:hover {
        background-color: #E07A5F;
    }


    nav .navigation {
        background-color: #666;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        border-bottom: solid 1px #333;
    }

    nav ul li.active a {
        background-color: #000;
        color: #fff;
    }
}