/********************* GLOBAL BASE STYLES *********************/
:root {
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --primary-color: #E07A5F;
    /* terra cotta */
    --secondary-color: #ddd;
    --text-color: #3D405B;
    /* slate blue */
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


@media (max-width: 700px) {

    body {
        font-family: var(--body-font);
        margin: 0;
        color: var(--text-color);
    }
    h1 {
        margin: 10px 0 20px 10px;
    }

    h1,
    h2,
    h3,
    header span {
        font-weight: 500;
        font-family: var(--heading-font);
    }

    /********MOBILE VIEW STYLES FOR GRID VIEW*********/
    #memberContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        max-width: 1200px;
        margin: 0 auto;
        gap: 1rem;
        padding: 1rem;
    }

    .member-card {
        background: #f6f5f5;
        border-radius: 8px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.238);
        text-align: center;
        margin-bottom: 10px;
    }
    .member-card a {
        text-decoration: none;
    }

    .member-card img {
        width: 250px;
        height: 250px;
        object-fit: contain
    }

    .member-card h3 {
        margin-top: -15px;
        font-weight: bold;
    }

    .member-card p a {
        padding: 0;
        margin: 0;
    }

    /**************FOOTER***************/
    footer {
        background-color: var(--text-color);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        border-top: 5px solid #bbb;
        color: whitesmoke;
        padding: .5rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        align-items: center;
    }

    .footer-center .social-links {
        justify-content: center;
    }

    #lastModified {
        color: var(--primary-color);
        font-weight: bold;
    }

    footer h3 {
        font-weight: bold;
    }

    /************SOCIAL MEDIA***********/
    .social-links {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin-top: 25PX;
        margin-bottom: 25PX;
    }

    .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid whitesmoke;
        border-radius: 22px;
    }

    .social-links img {
        width: 22px;
        height: 22px;
    }

    .social-links a:hover {
        background-color: var(--primary-color);
    }

    /***************HEADER*********************/
    
    header {
        position: relative;
        display: grid;
        grid-template-columns: 24px auto 44px;
        align-items: end;
        padding: 20px 0 5px 10px;
        border-bottom: 5px solid #bbb;
        column-gap: 10px;
        background-color: var(--text-color);
    }

    header img {
        display: block;
        width: 100%;
        height: auto;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        height: 30px;
        width: 30px;
    }
 
    header span, h1{
        font-size: 1.2rem;
    }

    header span {
        color: whitesmoke;
    }

    .member-card h2, h3, p {
        font-size: .8rem;
        font-weight: 300;
    }

    /****************BUTTON********************/
    .view-toggle {
        display: none;
    }

    .view-toggle button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: 2px solid var(--text-color);
        border-radius: 6px;
        background-color: var(--secondary-color);
        color: var(--text-color);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .view-toggle button:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .view-toggle button.active {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        font-weight: bold;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    /*consistent width */
    .view-toggle button {
        width: 120px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /**************HUMBERGURG*****************/
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 1.5rem;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-size: 1.5rem;
    }

    /**********NAVIGATION MOBILE VIEW***********/
    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #999;
    }

    .navigation a {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        color: whitesmoke;
        padding: .8rem 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
    }

    .navigation a:hover {
        background-color: #E07A5F;
    }

    nav ul li {
        border-bottom: solid 1px #333;
    }

    nav ul li.active a {
        background-color: #555;
    }
}